<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoTestNG">
  <test name="TestNGDemoTest">
    <classes>
    <!--  <class name="com.practice.TestNG.TestNGIntroduction"/>
      <class name="com.practice.TestNG.TestNGDependency"/>-->  
      <class name="com.practice.TestNG.TestNGAssertion"/>
    </classes>
  </test> <!-- TestNGDemoTest -->
</suite> <!-- DemoTestNG -->
